@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	background-color:#fcfcfc;
}
.ar{
    font-family: 'Tajawal', sans-serif;
}
.en{
    font-family: 'Montserrat', sans-serif;
}
.form-select{
	background-position: left .75rem center;
	padding: .375rem .75rem .375rem 1.75rem;
}
.note1 {
    border-left: 0px solid;
	border-right: 6px solid;
}
.icon-inv{
	color:#fcfcfc;
}
.w-xo{
	font-size:50px;
}
.offline-color{
	background-color:#efefef;
}
.offline-b-color{
	border-color:#efefef;
}
.form-control:disabled, .form-control[readonly] {
    background-color: white;
}